 {{#if carregando}}
     {{partial 'gists/loading'}}
{{else}}
	<div id="gistViewCabecalho">
		<span>Criado em: </span> {{gist.criadoEm}} - {{gist.criadoEmHora}} <br>
		<span>Modificado em: </span>{{gist.modificadoEm}} - {{gist.modificadoEmHora}}
	</div>
	{{{gistMarkdownJson}}}
{{/if}}
